<div class="container-fluid fs-4 ">
    <footer class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center py-3 my-4 border-top border-3">
        <div class="col-ms-5 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="/images/logo.png" class="logoFooter" alt="Logo" />
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
        </div>

        <ul class="nav justify-content-end list-unstyled d-flex fs-2">
            <li class="ms-3">
                <a class="text-body-secondary" href="#"><i class="bx bxl-twitter"></i></a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#"><i class="bx bxl-instagram"></i></a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#"><i class="bx bxl-facebook-circle"></i></a>
            </li>
        </ul>
    </footer>
</div>