<header class="container-fluid bg-image pb-5">
    <!-- Logo -->
    <div class="col-3 col-md-3 col-lg-2 p-3 mb-4" id="logo">
        <img src="/images/logo.png" class="img-fluid" alt="">
    </div>
    <!-- /Logo -->

    <!-- Slogan -->
    <div class="col-7 col-md-7 col-lg-5 col-xl-5 col-xxl-4 m-auto">
        <div class="slogan d-flex justify-content-evenly align-items-center m-auto">
            <i class='bx bxs-movie-play'></i>
            <span class="p-2">Great Movies Await!</span>
        </div>
    </div>
    <!-- /Slogan -->
</header>