<nav class="container-fluid d-flex align-items-center justify-content-between py-3 mb-3 border-bottom">
    <div class="d-flex align-items-center">
        <button class="menu-show d-flex align-items-center"><i id="bxMenu" class='bx bx-menu fw-bold'></i><span class="d-none">Menu</span></button>
        <!-- Tạo hiệu ứng hiển thị menu-->
        <div id="sidebar" class="d-none flex-column flex-shrink-0 p-2 border border-dark">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-menu nav-link text-dark text-decoration-none" aria-current="page"> <!-- Khi kích vào cái mục nào trong menu sẽ chuyển active sang đó và xoá text-dark -->
                        <i class='bx bx-home-alt me-1'></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-menu nav-link text-dark text-decoration-none">
                        <i class='bx bxs-dashboard me-1'></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-menu nav-link text-dark text-decoration-none">
                        <i class='bx bx-calendar me-1' ></i>
                        Orders
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-menu nav-link text-dark text-decoration-none">
                        <i class='bx bx-bar-chart-square me-1'></i>
                        Products
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-menu nav-link text-dark text-decoration-none">
                        <i class='bx bx-user-circle me-1' ></i>
                        Customers
                    </a>
                </li>
            </ul>
        </div> 
        <i class='bx bxs-bell cursor-pointer p-2'></i>
    </div>
    
    <div class="d-flex justify-content-evenly align-items-center">
        <!-- Search bar -->
        <div class="box-search">
            <i class='bx bx-search fw-bold d-flex align-items-center justify-content-center'></i>
            <form role="search">
                <input type="search" id="search" class="d-none d-md-flex form-control border-3 rounded-3" placeholder="Search..." aria-label="Search">
            </form>
        </div>
        <!-- /Search bar -->

        <!-- Login and Sign up-->
        <ul class="nav align-items-center justify-content-end" id="notLoggedIn">
            <li class="nav-item item"><a class="nav-link link-body-emphasis" id="login">Login</a></li>
            <li class="nav-item item"><a class="nav-link link-body-emphasis" id="signup">Sign up</a></li>
        </ul>
        <!-- /Login and Sign up-->

        <!-- When login completed -->
        <div class="d-none d-flex justify-content-end me-2 dropdown" id="loggedIn">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="images/defaultAvartar.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong></strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item text-decoration-none" href="#">Wallet</a></li>
                <li><a class="dropdown-item text-decoration-none" href="#">Settings</a></li>
                <li><a class="dropdown-item text-decoration-none" href="#">Profile</a></li>
                <li><hr class="dropdown-divider border-1 border-white"></li>
                <li><a class="dropdown-item text-decoration-none" href="/isAuth/log-out" id="signOut">Sign out</a></li>
            </ul>
        </div>
        <!-- /When login completed -->
    </div>
</nav>
