<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">

</head>
<body>
    <button class="p-3 rounded-2 border-dark" id="node">Login</button>
    <!-- Login page -->
    <div class="d-none login-page fs-6 rounded-4 border border-4 border-dark m-auto p-3 col col-sm-6 col-lg-5 col-xl-3">
        <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-10 col-lg-10 col-xl-10">
                <!-- Logo -->
                <i class="bx bx-x" id="close"></i>
                <a href="#" class="d-flex justify-content-center mb-3">
                    <img src="images/logo.png" alt="" width="240">
                </a>
                <!--/ Logo -->

                <div class="text-center mb-4">
                    <h3 class="fw-bold">Log In</h3>
                    <p class="text-secondary">Get access to your account</p>
                </div>

                <!-- Social Login -->
                <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-3">
                    <i class='bx bxl-google text-danger me-2 fs-3'></i> Login with Google
                </button>
                <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100">
                    <i class='bx bxl-facebook text-primary me-2 fs-3' ></i> Login with Facebook
                </button>
                <!--/ Social Login -->

                <!-- Divider -->
                <div class="position-relative">
                    <hr class="text-secondary divider">
                    <div class="divider-content-center">Or</div>
                </div>
                <!--/ Divider -->

                <!-- Form -->
                <form action="/signin" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bx bx-user"></i>
                        </span>
                        <input type="text" name="" class="form-control form-control-lg fs-6" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bx bx-lock-alt"></i>
                        </span>
                        <input type="password" name="" class="form-control form-control-lg fs-6" placeholder="Password">
                    </div>
                    <div class="input-group mb-3 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" name="" id="formCheck" class="form-check-input">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remenber me</small></label>
                        </div>
                        <div>
                            <small><a href="#">Forgot Password?</a></small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 mb-3 login">Login</button>
                </form>
                <!--/ Form -->

                <div class="text-center">
                    <small>Don't have an account? <a href="#" class="fw-bold">Sign Up</a></small>
                </div>
            </div>
        </div>
    </div> 
    <!--/ Login page -->

    <!-- Signup page -->
    <div class="d-none signup-page fs-6 rounded-4 border border-4 border-dark m-auto p-3 col col-sm-6 col-lg-5 col-xl-3">
        <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-10 col-lg-10 col-xl-10">
                <!-- Logo -->
                <i class="bx bx-x" id="close"></i>
                <a href="#" class="d-flex justify-content-center mb-3">
                    <img src="images/logo.png" alt="" width="240">
                </a>
                <!--/ Logo -->

                <div class="text-center mb-4">
                    <h3 class="fw-bold">Sign Up</h3>
                    <p class="text-secondary">Create a new account</p>
                </div>

                <!-- Social Login -->
                <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-3">
                    <i class='bx bxl-google text-danger me-2 fs-3'></i> Login with Google
                </button>
                <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100">
                    <i class='bx bxl-facebook text-primary me-2 fs-3' ></i> Login with Facebook
                </button>
                <!--/ Social Login -->

                <!-- Divider -->
                <div class="position-relative">
                    <hr class="text-secondary divider">
                    <div class="divider-content-center">Or</div>
                </div>
                <!--/ Divider -->

                <!-- Form -->
                <form action="/signup" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bx bx-user"></i>
                        </span>
                        <input type="text" name="username" class="form-control form-control-lg fs-6" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bx bx-envelope"></i>
                        </span>
                        <input type="text" name="email" class="form-control form-control-lg fs-6" placeholder="Email">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bx bx-lock-alt"></i>
                        </span>
                        <input type="password" name="hashpwd" class="form-control form-control-lg fs-6" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100 mb-3 login">Signup</button>
                </form>
                <!--/ Form -->

                <div class="text-center">
                    <small>Already an account? <a href="#" class="fw-bold">Login</a></small>
                </div>
            </div>
        </div>
    </div> 
    <!--/ Signup page -->

</body>
<script src="js/index.js"></script>
</html>