<div class="d-none signup-page fs-6 rounded-4 border border-4 border-dark pb-3 col-8 col-md col-lg-12 col-xl-6">
    <i class="bx bx-x" id="close"></i>
    <div class="row align-items-center justify-content-center px-3">
        <div class="col col-md-11 col-lg-11 col-xl-11">
            <!-- Logo -->
            <a href="#" class="d-flex justify-content-center">
                <img src="/images/logo.png" alt="" class="log-logo">
            </a>
            <!--/ Logo -->

            <div class="text-center mb-2" id="mobile-text">
                <h4 class="fw-bold">Sign Up</h4>
                <p class="text-secondary">Create a new account</p>
            </div>

            <!-- Social Login -->
            <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-2">
                <i class='bx bxl-google text-danger me-2 fs-3'></i> Login with Google
            </button>
            <button class="btn btn-lg btn-outline-secondary btn-outline-custom w-100">
                <i class='bx bxl-facebook text-primary me-2 fs-3'></i> Login with Facebook
            </button>
            <!--/ Social Login -->

            <!-- Divider -->
            <div class="position-relative">
                <hr class="text-secondary divider">
                <div class="divider-content-center">Or</div>
            </div>
            <!--/ Divider -->

            <!-- Form -->
            <form id="signupForm" method = "POST" action = "/signup">
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="bx bx-user"></i>
                    </span>
                    <input type="text" name="username" class="form-control form-control-lg fs-6" placeholder="Username">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="bx bx-envelope"></i>
                    </span>
                    <input type="text" name="email" class="form-control form-control-lg fs-6" placeholder="Email">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bx bx-lock-alt"></i>
                    </span>
                    <input type="password" name="password" class="form-control form-control-lg fs-6" placeholder="Password">
                </div>
                <p class="d-none errorInfo mb-2">Sign Up is incorrect!</p>
                <button type="submit" class="btn btn-primary btn-lg w-100 mb-1">Signup</button>
            </form>
            <!--/ Form -->

            <div class="text-center">
                <small>Already an account? <a href="#" class="fw-bold text-decoration-none">Login</a></small>
            </div>
        </div>
    </div>
</div>
